dist
node_modules
.yarn
build
coverage
.docusaurus

.svg
*.svg

packages/plugin-*/lib/*
packages/preset-*/lib/*
packages/theme-*/lib/*
packages/tsconfig/lib/*

website/i18n
website/versions.json
website/docusaurus.config.js
website/versioned_sidebars/*.json

examples/
website/static/katex/katex.min.css
