.navbar-secondary {
  &-layout {
    @apply px-6 py-3 lg:hidden w-full;
    @apply border-t border-base-content/10;
  }

  &-layout > &-content {
    @apply flex items-center;
  }

  &-content > * {
    @apply flex items-center gap-2 text-xs font-medium text-base-content/80;

    &:hover {
      @apply !text-base-content;
    }
  }

  &-icon {
    @apply w-3 h-3 fill-current transition-transform duration-200 ease-in-out;

    &-close {
      @apply -rotate-90;
    }
  }

  &-content > &-toc {
    @apply ml-auto uppercase;
  }
}
