@import "./fonts.css";

:root {
  --nb-font-family-base: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --nb-font-family-mono: ui-monospace, "Menlo", "Monaco", "Consolas",
    "Liberation Mono", "Courier New", monospace;
  font-optical-sizing: auto;
}

:root:where(:lang(zh)) {
  --nb-font-family-base: "Punctuation SC", "Inter", ui-sans-serif, system-ui,
    "PingFang SC", "Noto Sans CJK SC", "Noto Sans SC", "Heiti SC",
    "Microsoft YaHei", "DengXian", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  font-family: var(--nb-font-family-base);
}
