.back-to-top {
  @apply btn btn-circle btn-primary no-animation;
  @apply fixed z-10 right-5 bottom-5 shadow-md;
  @apply transition transform opacity-0 scale-0;

  &.shown {
    @apply opacity-100 scale-100;
  }
}
