@import url("tailwindcss/tailwind");

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#nprogress {
  @apply pointer-events-none;

  & .bar {
    z-index: 1031;

    @apply fixed top-0 left-0 w-full h-0.5 bg-primary;
  }

  & .peg {
    box-shadow: 0 0 10px hsl(var(--p)), 0 0 5px hsl(var(--p));

    @apply absolute right-0 w-[100px] h-full opacity-100 rotate-3 -translate-y-1;
  }
}

.thin-scrollbar {
  &::-webkit-scrollbar {
    height: 7px;
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: silver;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #a7a7a7;
  }
}
