.admonition {
  @apply block w-full mb-4 p-4 text-left;
  @apply rounded-box bg-base-200 text-base-content;
  @apply border border-base-200;
  @apply transition-[color,background-color,border-color] duration-500;

  &-note {
    @apply bg-base-content/10 border-base-content/20;
  }

  &-success {
    @apply bg-success/40 border-success/20;
  }

  &-error {
    @apply bg-error/40 border-error/20;
  }

  &-info {
    @apply bg-info/40 border-info/20;
  }

  &-warning {
    @apply bg-warning/40 border-warning/20;
  }

  &-title {
    @apply flex items-center gap-1 uppercase font-bold;
  }

  &-icon {
    @apply inline-block w-6 h-6 stroke-current fill-none;
  }

  &-content {
    & > *:last-child {
      @apply mb-0;
    }
  }
}
