.admonition {
  @apply mb-4 gap-0 justify-items-start text-left;
  @apply grid-flow-col grid-cols-[auto_minmax(auto,1fr)];

  &-note {
    --alert-bg: hsl(var(--bc) / 10%);
    --alert-bg-mix: hsl(var(--b1));

    @apply border-base-content/20;
  }

  &-success {
    --alert-bg: hsl(var(--su) / 40%);
    --alert-bg-mix: hsl(var(--b1));

    @apply border-success/20;
  }

  &-error {
    --alert-bg: hsl(var(--er) / 40%);
    --alert-bg-mix: hsl(var(--b1));

    @apply border-error/20;
  }

  &-info {
    --alert-bg: hsl(var(--in) / 40%);
    --alert-bg-mix: hsl(var(--b1));

    @apply border-info/20;
  }

  &-warning {
    --alert-bg: hsl(var(--wa) / 40%);
    --alert-bg-mix: hsl(var(--b1));

    @apply border-warning/20;
  }

  &-title {
    @apply flex items-center gap-1 uppercase font-bold;
  }

  &-icon {
    @apply inline-block w-6 h-6 stroke-current fill-none;
  }

  &-content {
    & > *:last-child {
      @apply mb-0;
    }
  }
}
