.announcement {
  @apply relative z-40 flex items-center gap-x-6 sm:before:flex-1;
  @apply px-6 py-2.5 sm:px-3.5 overflow-hidden;
  @apply bg-neutral text-neutral-content;

  & > &-content {
    @apply flex flex-wrap items-center gap-x-4 gap-y-2;
  }

  & > &-button {
    @apply flex flex-1 justify-end;

    & > button {
      @apply -m-3 p-3 focus-visible:outline-offset-[-6px];
    }
  }
}
