.doc-card {
  @apply h-full bg-base-200 border border-base-200;
  @apply transition-[background-color,border-color] duration-500;

  &:hover {
    @apply border-primary;
  }

  &-icon {
    @apply w-5 h-5 fill-current;
  }

  &-title {
    @apply truncate;
  }

  &-description {
    @apply font-normal truncate;
  }
}
