.algoliaLogo {
  max-width: 150px;
}

.breadcrumbItem:not(last-child) {
  display: inline-block;
  margin-right: 0.0625rem;
}
.breadcrumbItem:not(last-child):after {
  content: "/";
  margin: 0 0.5rem;
  opacity: 0.5;
}

:global(.search-result-match) {
  @apply text-light-search-hit bg-light-search-highlight dark:text-dark-search-hit dark:text-dark-search-highlight;
}
