.navbar-tocpopdown {
  max-height: calc(50vh - 4rem);
  width: calc(100% - 2rem);

  @apply absolute top-full flex flex-col m-4 pt-4 z-30 bg-base-100;
  @apply shadow-lg rounded-lg border border-base-content/10;
  @apply transition duration-200 ease-in-out origin-top scale-90 opacity-0 pointer-events-none;

  &-open {
    @apply opacity-100 scale-100 pointer-events-auto;
  }
}
