:root {
  --docsearch-primary-color: hsl(var(--p));
}

.DocSearch-Button {
  margin: 0 !important;
  transition: all 0.2s cubic-bezier(0.08, 0.52, 0.52, 1);
}

.DocSearch-Screen-Icon > svg {
  display: inline;
}
