:root {
  --docsearch-primary-color: hsl(var(--p)) !important;
}

.doc-search-btn {
  @apply flex items-center text-sm py-1;
  @apply transition-opacity opacity-60 hover:opacity-100;

  &-container {
    @apply flex items-center gap-2;
  }

  &-icon {
    @apply w-4 h-4 fill-current;
  }

  &-placeholder {
    @apply max-lg:hidden;
  }

  &-keys {
    @apply ml-8;
    @apply hidden xl:flex items-center gap-1;
  }
}

/* stylelint-disable selector-class-pattern */
.DocSearch-Container {
  @apply backdrop-blur-sm;
}

.DocSearch-Hit-content-wrapper {
  line-height: inherit !important;
}
/* stylelint-enable selector-class-pattern */
