.toc {
  max-height: calc(100vh - 7rem);
  scrollbar-width: thin;
  @apply sticky top-4 overflow-y-auto;
}

.toc::webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.toc-link {
  @apply text-light-text dark:text-dark-text;
}

.toc-link-active {
  @apply text-light-text-active dark:text-dark-text-active;
}
