.navbar-mobile-sidebar {
  max-width: calc(100vw - 10rem);

  @apply fixed top-0 bottom-0 left-0 w-80 pt-4 pb-8 z-50;
  @apply bg-base-100 text-base-content;
  @apply overflow-y-auto -translate-x-full opacity-0;
  @apply transition duration-300 ease-in-out;

  &-open {
    @apply !opacity-100 !translate-x-0;
  }

  &-overlay {
    @apply fixed top-0 bottom-0 left-0 right-0 z-40;
    @apply bg-[#0006] invisible opacity-0;
    @apply transition-opacity duration-300 ease-in-out;

    &-open {
      @apply visible opacity-100;
    }
  }
}
