.tabs {
  /* vertical margin applied in prose css */

  /* &-container {
    @apply my-4;
  } */

  &-list {
    @apply z-10 -mb-px;
  }
}

.tab {
  &-item {
    --tab-border-color: transparent;

    &-active {
      --tab-border-color: hsl(var(--bc) / 10%);
    }
  }

  &-spacer {
    @apply flex-1 mr-6 cursor-default;
  }
}
