@reference "../../styles.css";
.themed-image {
  display: none;

  [data-theme="light"] &-light,
  html:not([data-theme]) &-light {
    display: initial;
  }

  [data-theme="dark"] &-dark {
    display: initial;
  }
}
