@import "tailwindcss/tailwind";

body {
  font-size: 0.9rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-light text-light-text;
}

html.dark body {
  @apply bg-dark text-dark-text;
}
