name: Canary Release

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  publish-canary:
    name: Publish Canary
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0 # Needed to get the commit number with "git rev-list --count HEAD"

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: yarn

      - name: Prepare git
        run: |
          git config --global user.name "noneflow[bot]"
          git config --global user.email "129742071+noneflow[bot]@users.noreply.github.com"

      - name: Installation
        run: yarn

      - name: Publish Canary release
        run: |
          yarn canary
