name: Release

on:
  push:
    tags:
      - v*

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: yarn

      - name: Prepare git
        run: |
          git config user.name noneflow[bot]
          git config user.email 129742071+noneflow[bot]@users.noreply.github.com

      - name: Installation
        run: yarn

      - name: Publish release
        run: |
          yarn lerna publish from-package --yes --no-private
