name: Release

on:
  push:
    tags:
      - v*

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Prepare git
        run: |
          git config user.name noneflow[bot]
          git config user.email 129742071+noneflow[bot]@users.noreply.github.com
          echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> .npmrc
        env:
          NPM_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

      - name: Installation
        run: yarn

      - name: Publish release
        run: |
          yarn build
          yarn lerna publish from-package --yes --no-verify-access
        env:
          NPM_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
