.sidebar {
  @apply flex flex-col h-full max-h-screen -mt-16 overflow-y-auto;

  &:not(:has(> &-brand)) {
    @apply pt-16;
  }

  &-brand {
    @apply flex items-center h-16 px-4 sm:px-6 md:px-8 py-4;

    &-logo {
      @apply h-auto w-auto;
    }

    &-title {
      @apply ml-2 normal-case text-xl font-semibold;
    }
  }

  &-content {
    @apply px-4;
  }

  &-curtain {
    @apply sticky bottom-0 w-full h-8 z-10;
    @apply bg-base-100 [mask-image:linear-gradient(transparent,#000000)];
    @apply transition-[background-color] duration-500;
  }
}
